/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root{
    --fuentePpal:'Baloo Tammudu 2', cursive;
    --claro:#e8e8e4;
    --oscuro:#1d3557;
    --softPink:#ffe8d6;
    --orange:#f3722c;
    --celeste:#bde0fe;
}